# Database
DATABASE_URL="postgresql://postgres:rafael16137088740@db.feouxhuwrdobwsnunqki.supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_SECRET="BETTER_AUTH_SECRET=ae96295d21203b863e32c1272b6b1c7fd48e5a6988475638304508aebdcf1f5a"
NEXTAUTH_URL="lanchonete-app-chi.vercel.app"

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN="APP_USR-1998600065929560-040305-7d446a38c0de66e1a2ce22b02653efef-527749880"
MERCADO_PAGO_PUBLIC_KEY="APP_USR-1253ccb6-99ec-4858-8086-eca6358b3a55"
MERCADO_PAGO_WEBHOOK_SECRET=""

# Email (recuperacao de senha)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="seu-email@gmail.com"
SMTP_PASS="sua-senha-de-app"
